.cards__container {
  width: 68.75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 34px) / 3));
  grid-auto-rows: 362px;
  column-gap: 17px;
  row-gap: 20px;
}

@media (max-width: 1060px) {
  .cards__container {
    grid-template-columns: repeat(2, calc((100% - 17px) / 2));
  }
}
@media (max-width: 715px) {
  .cards__container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .cards__container {
    width: 88.125%;
  }
}