.header__menu-button {
  width: 24px;
  height: 18px;
  display: none;
  padding: 0;
  margin: 0;
  border: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #000;
}

@media (max-width: 500px) {
  .header__menu-button {
    display: flex;
  }
}