.popup__error {
  height: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 13px;
  color: #f00;
  visibility: hidden;
}