.profile__description {
  font-size: 18px;
  line-height: 1.2222222222;
  grid-area: pos;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media (max-width: 500px) {
  .profile__description {
    font-size: 14px;
    line-height: 1.214;
  }
}