.auth__submit-button {
  width: 100%;
  margin: 230px 0 15px;
  height: 50px;
  padding: 0;
  background-color: #fff;
  color: #000;
  border: 0;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  opacity: 1;
}

.auth__submit-button:hover {
  background-color: #a9a9a9;
}

@media (max-width: 800px) {
  .auth__submit-button {
    height: 46px;
    font-size: 16px;
    line-height: 19px;
    margin: 170px 0 20px;
  }
}